{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
		<form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
			<div class="input">
				<label>Title:</label>
				<input type="text" size="30" name="title">
			</div>
			<div class="input">
				<label>Text:</label>
				<textarea name="text" rows="5" cols="40"></textarea>
			</div>
			<div class="input">
				<input type="submit" value="Share">
			</div>
		</form>
	{% endif %}
	<ul class="entries">
		{% for entry in entries %}
			<li>
				<h2>{{ entry[1] }}</h2>
				<span class="text">{{ entry[2]|safe }}</span>
				{% if session.get('logged_in') %}
					<span class="opt"><a href="{{ url_for('edit_entry', entry_id=entry[0]) }}">Edit</a> | <a href="{{ url_for('delete_entry', entry_id=entry[0]) }}">Delete</a></span>
					<div class="clr"></div>
				{% endif %}
			</li>
		{% else %}
			<li><em>Unbelievable.  No entries here so far</em></li>
		{% endfor %}
	</ul>
{% endblock %}